# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===========================
# Virtual Environment
# ===========================
.venv/
venv/
env/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Python cache
# ===========================
.pytest_cache/
.mypy_cache/

# ===========================
# SQLite
# ===========================
*.db
!bloodlink.db
*.sqlite3
# ===========================
# Logs
# ===========================
*.log

# ===========================
# Environment
# ===========================
.env

# ===========================
# OS
# ===========================
Thumbs.db
.DS_Store